{{> header}}
<div style="margin: 7% auto;" class="modal-content col-lg-6">
    <div class="modal-body">
        <form action="" method="post">
            <label for="foodName">Food name</label>
            <input type="text" id="foodName" name="foodName" class="form-control form-control-sm"/>

            <label for="calories">Calories</label>
            <input type="text" id="calories" name="calories" class="form-control form-control-sm"/>

            <label for="picture">Picture URL</label>
            <input type="text" id="picture" name="picture" class="form-control form-control-sm"/>
            <button type="submit">Send</button>
        </form>
    </div>
</div>
{{> footer}}